header {
  border: 3px solid green;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  font-weight: bold;
}
nav {
  border: 3px solid blue;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  font-weight: bold;
}
article {
  border: 3px solid purple;
  height: 600px;
  width: 66%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: purple;
  font-weight: bold;
}
aside {
  border: 3px solid yellow;
  height: 600px;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: yellow;
  font-weight: bold;
}
.section {
  display: flex;
}
.App {
  background-color: black;
}
footer {
  border: 3px solid red;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-weight: bold;
}
